{% extends 'layout.html' %}

    {% block title %} WeatherUI | About {% endblock %}

{% block content %}  
    <section class="header3 cid-scV9O8acBZ mbr-fullscreen" id="header3-b">

        

        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);"></div>

        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>No tracking. No logs. No fingerprinting.</strong></h1>
                    
                    <p class="mbr-text mbr-fonts-style display-7">WeatherUI only serves you the weather data of location you specify manually. We don't even keep logs of location searched.</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="content5 cid-scVNKBNRbH" id="content5-j">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    
                    <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5"><strong>WeatherUI keeps your privacy first. Get only what you request.</strong></h4>
                    <p class="mbr-text mbr-fonts-style display-7"><strong>
                        This app is built using flask. A python based micro web framework. The API's used in this app send only two arguments (one of which is optional) which is what you provide manually in the form. We do not store or log your IP, location at you're or locations you searched for.</strong><br></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}  