{% extends 'layout.html' %}

    {% block title %} WeatherUI | Error {% endblock title %}


{% block content %}
    <section class="header1 cid-scVLay0dSj mbr-fullscreen" id="header1-i">
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(250, 250, 250);"></div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Something went wrong :( either the request you made is invalid or doesn't exists.</strong></h1>
                    
                    
                    <div class="mbr-section-btn mt-3"><a class="btn btn-info display-4" href="/">Take me back!</a></div>
                </div>
            </div>
        </div>
    </section> 
{% endblock content %}