{% extends 'layout.html' %}

    {% block title %} WeatherUI | Beautiful, Minimal & Private Weather Screen. {% endblock title %}

{% block content %}  
  
    <section class="form2 cid-scV57ubldH mbr-fullscreen mbr-parallax-background" id="form2-5">
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);"></div>
        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="" method="POST">
                        <div class="">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                                out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                                problem!</div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h1 class="mbr-section-title mb-4 display-2"><strong>Beautiful. Minimal. Private.</strong></h1>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="mbr-text mbr-fonts-style mb-5 display-7">Use country code when your city cannot be indexed, make sure to use <a href="https://datahub.io/core/country-list/r/0.html" class="text-black" target="_blank">ISO 3166
    </a><br><a href="https://datahub.io/core/country-list/r/0.html" class="text-black" target="_blank">Country Codes</a></p>
                            </div>
                            <div class="col-lg col-md col-12 form-group">
                                <input type="text" name="city" placeholder="New Delhi"  class="form-control" id="name-form2-5" required>
                            </div>
                            <div class="col-lg col-md col-12 form-group">
                                <input type="text" name="country" placeholder="IN"  class="form-control" id="email-form2-5">
                            </div>
                            <div class="mbr-section-btn col-md-auto col"><button type="submit" class="btn btn-info display-4">Enter</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}